.upper_header_layout,.bottom_header_layout, .main_body_layout, .footer{
    
    width: 938px; 
    margin: 0 auto;
}


ul li a {
    text-decoration: none;
}
ul {
    list-style-type: disc;
}
.clearfix {
    overflow: auto;
  }

/*header*/

.upper_header{
    background-color: #7dd9e8;
    width: 100%;
    float: left;
    overflow: hidden;
}

.logo{
    
    background-image: url(../img/logo.png);
    float: left;
    width: 224px;
    height: 50px;
    margin-top: 20px;
    margin-right: 25px;
    margin-bottom: 16px;
}
.search{
    background-color: #caeff7;
    float: left;
    margin-top: 40px;
    margin-right: 10px;
    
}
.search_box_item{
    float: right;
}
.searchL{
    background-image:url(../img/searchL.png);
    background-position: top left;
    background-repeat: no-repeat;
    
    
}
.searchR{
    background-image:url(../img/searchR.png);
    background-position: top right;
    background-repeat: no-repeat;
}
input{
    background: transparent;
    border-width: 0;
    margin-left: 10px;  
    margin-right: 10px; 
    width: 237px;
}
.search_button{
    background-color: #264f55;
    float:left;
    width: 65px;
    margin-top: 40px;
}
.search_btnL{
    background-image:url(../img/btnL.png);
    background-position: top left;
    background-repeat: no-repeat;

    
}
.search_btnR{
    background-image:url(../img/btnR.png);
    background-position: top right;
    background-repeat: no-repeat;
    
}
.profile{
    float: right;
    margin-top: 28px;
    
}
.name{
    text-align: right;
    text-transform: capitalize;
}
.home ul {
    line-height: 15px;
    list-style-type: none;
}
.home ul li{
    float: left;
    width: auto;
    padding: 0 5px;
    font-size: 8pt;
}
/*bottom header*/
.bottom_header{
    background-color: #f5f5f5;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    
}
.bottom_header_list ul li{
    float:left;
    margin-top: 16px;
    margin-bottom: 15px;
    list-style-type:none;
    margin-right: 32px;
    font-size: 11pt;
}
.topic{
    float: right;
    margin-top: 13px;
    font-size: 14px; 
    margin-bottom: 10px;
    width: 304px;

}
.topic ul li {
    list-style-type: none;
    display: inline-block;
    margin-left:5px;
    float:right;
    
}
.topic ul li:last-child{
   
    background-image: url(../img/topic-box-image.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.topic ul li:first-child{
    background-image: url(../img/friend.png)  ;
    background-repeat: no-repeat;
    display: inline-block;
    color: grey;
    
}

/*main*/
.main_body_wrapper{
    clear: both;
    overflow: hidden;
}
.main_body_layout{    
    height: 606px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 32px;
}
/*left*/
.left{
    float: left;
    margin-top: 30px;
    
}
.recent_searches{
    height: 606px;
    background-color:#f5f5f5 ;
}
.recent_searches_header{
    background-color: #72bfd7;
    color: white;
    line-height: 42px;
    padding: 0 11px;
    font-size: 13px;
    
}
.recent_searches_list{
    width: 194px;
    background-color: #f5f5f5;
    float: left;
    
}
.recent_searches_list ul li {
    list-style-type: none;
}
.recent_searches_list ul li a span{
    padding-right: 18px;
    width:80%;
    display: inline-block;
    font-size: 12px;
    color: #000;
    width: 80%;
    font-size: 9pt;

}
.recent_searches_list ul li a {
    display: block;
    text-decoration: none;
    padding: 15px 10px;
}
.recent_searches_list ul li a:hover {
    background-color: #ffffff;
}
.recent_searches_list ul li a img{
    float:right;
    padding: 2px;
    
}


/*right and main content*/
.curveL{
    background-image:url(../img/all_entriesL.png);
    background-position: top left;
    background-repeat: no-repeat;

}
.curveL a{
    font-size: 9pt;
    
    display:inline-block;
    text-decoration: none;
    color:#000000;
}
.curveR a{
    font-size: 9pt;
    
    display:inline-block;
    text-decoration: none;
    color:#000000;
}
.curveR{
    background-image:url(../img/all_entriesR.png);
    background-position: top right;
    background-repeat: no-repeat;

}
.memberCurveL{
    background-image:url(../img/memberCurveL.png);
    background-position: top left;
    background-repeat: no-repeat;

}
.memberCurveR{
    background-image:url(../img/memberCurveR.png);
    background-position: top right;
    background-repeat: no-repeat;
}
.submenu_inactiveR{
    background-image:url(../img/submenu_inactiveCurveR.png);
    background-position: top right;
    background-repeat: no-repeat;
}
.submenu_inactiveL{
    background-image:url(../img/submenu_inactiveCurveL.png);
    background-position: top left;
    background-repeat: no-repeat;
}
.main_content{
    float: right;
    margin-top: 30px;
}
.r_right{
    background-color: thistle;
    float: right;
    width: 177px;
    height: 606px;
    margin-left: 24px;
}
.video_tutorials{
    background-color: #f5f5f5;
    height: 606px;
}
.video_tutorials_header{
    background-color: #7dd9e8;
    color: white;
    padding: 20px;
}

.right {
    float: right;
    width: 520px;
    height: 100%;
  }
.right_title{
    font-size: 24pt;
    padding-bottom: 5px;
}
.menu{
    height: 68px;
}

.all_entries_menu{
    width: 259px;
    float:left;
    background-color: #f5f5f5;
    margin-right: 2px;
}
.menu_title_left{
    padding: 12px 0;
    font-size: 10pt;
    
}

.sub_menu_left{
    height:28px;
    float:left;
    width: 115px;
    margin-left:10px ;
    margin-right: 5px;
    background-color:#2fc1d8 ;
}

.sub_menu_right{
    height:28px;
    float:right;
    width: 115px;
    margin-right: 10px;
    background-color:#dddddd ;
}
.subscribe_menu{
    width: 259px;
    float:right;
    background-color:  #f5f5f5;
}
.posts{
    float:left;
    padding: 0 10px;
    overflow: hidden;
}
.post_content ul li {
    padding: 15px 0;
    border-bottom: #d8d8d8 solid 1px;
  }
.posts div a:hover{
    color: #8ee4f3
}
.post_type  a {
    color: #2e9db0;
    font-size: 10px;
    font-weight: bold;
  }
.post_type.alert a {
    color: #d53f1c;  
}
.posts_details{
    font-size: 11px;
    color: #707070;

}
.posts_details span{
    display: inline-block;
}
.author-name a {
    color: #2e9db0;
    font-weight: bold;
  }
.subscribed a {
    color: #709720;
    font-weight: bold;
}
.posts_topic_box {
    font-size: 11px;
    color: #707070;
    padding-top: 6px;
    float: left;
  }
  .posts_topic_box a {
    color: #707070;
  }
  .posts_topic_box span {
    display: inline-block;
  }
.post_content ul li{
    list-style-type: none;
    overflow: hidden;
}
.post_content ul li img{
    float: left;

}
.post_content ul li{
    float: left;
} 
.post_title{
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;

}
/*footer*/
.footer_wrapper{
    width: 100%;
    background-color:#727272;
}
.footer{
    height: 45px;
    
}
.copyright{
    float: right;
    color: #fff;
    padding: 19px 2px;
    font-size: 11px;
}
.footer_list{
    float: left;
    color: #ffffff;
    padding: 19px 2px;

}
.footer_list ul  {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 11px;
}
.footer_list ul li {
    background: url(../img/dot.png) no-repeat;
    background-position: 0;
    width: auto;
    font-weight: bold;
    float: left;
    padding: 0px 7px;
}
.footer_list ul li:first-child {
    background: none;
}
.footer_list ul li a {
    text-decoration: none;
    color:#fff;
  }
