.upper_header_layout,.bottom_header_layout, .main_body_layout, .footer{
    
    width: 938px; 
    margin: 0 auto;
}



.upper_header{
    background-color: #7dd9e8;
    width: 100%;
    margin: 0px;
    height: 85px;
    float: left;
}

.bottom_header{
    background-color: #f5f5f5;
    width: 100%;
    margin: 0px;
    float: left;
    height: 40px;  
}
.logo{
    background-color: #264f55;
    float: left;
    width: 224px;
    height: 50px;
    margin-top: 20px;
    margin-right: 25px;
    
    
}
.search{
    background-color: #caeff7;
    float: left;
    width: 275px;
    height:20px;
    margin-top: 40px;
    margin-right: 10px;
}
.search_button{
    background-color: #264f55;
    float:left;
    width: 53px;
    height:20px;
    margin-top: 40px;
    
}
.profile{
    float: right;
    width: 145px;
    height: 35px;
    background-color: white;
    margin-top: 28px;
}
.bottom_header_list{
    background-color: #2fb2be;
    float:left;
    height: 14px;
    margin-top: 16px;
    margin-right: 5px;
}
.name{
    background-color: goldenrod;
    float: right;
}
.home{
    background-color: greenyellow;
    float:right;   
}
.topic{
    width: 140px;
    background-color: #23cb33;
    float: right;
    margin-top: 13px;
    margin-right: 2px;
    
}

.main_body_wrapper{
    clear: both;
}
.main_body_layout{    
    height: 606px;
    background-color: white;
    overflow: hidden;
    
    margin-bottom: 32px;

    
}
.left{
    width: 194px;
    float: left;
    margin-top: 30px;
}
.recent_searches{
    background-color: violet;
    height: 606px;
}
.recent_searches_header{
    height: 42px;
    background-color: tomato;

}
.recent_searches_list{
    background-color: teal;
    height: 90px;
}
.main_content{
    float: right;
    background-color: wheat;
    margin-top: 30px;
}
.r_right{
    background-color: thistle;
    float: right;
    width: 177px;
    height: 606px;
    margin-left: 24px;
}
.video_tutorials{
    background-color: aquamarine;
    height: 606px;
}
.video_tutorials_header{
    background-color: aqua;
    height: 42px;
}
.video_tutorials_list{
    background-color:blue;
    height: 282px;
}
.right {
    background:lightgreen;
    float: right;
    width: 520px;
    height: 606px;
  }
.right_title{
    background:lightpink;
    width: 96px;
    height: 24px;
    margin-bottom: 12px;
}
.menu{
    height: 68px;
}
.all_entries_menu{
    width: 259px;
    float:left;
    background-color: lightsalmon;
    margin-right: 2px;
}
.menu_title_left{
    height:36px;
    background-color: lime;
    
    
}
.sub_menu_left{
    height:28px;
    background-color: magenta;
    float:left;
    width: 238px;
    margin-left:10px ;
    margin-right: 10px;
}
.subscribe_menu{
    width: 259px;
    float:right;
    background-color: lightsalmon;
    
}

  
.posts {
    background:rosybrown;
    overflow: hidden;
    height: 70px;
    margin-top: 16px;
  }
  
.profile_image {
    background:orchid;
    float: left;
    height: 70px;
    width: 70px;
  }
  
.posts_details{
    background:mintcream;
    float: right;
    width: 420px;
    height: 70px;
  }

.footer_wrapper{
    
    width: 100%;
    background-color:#727272;
}
.footer{
    height: 45px;
    
}
.copyright{
    float: right;
    margin-top: 18px;
}
.footer_list{
    float: left;
    margin-top: 18px;
}