.main_wrapper {
  min-width: 30em;
  overflow: hidden;
}
.column1 {
  overflow: hidden;
  width: 100%;
  background-image: url(../img/column1_background.jpg);
  background-size: cover;
  height: 100%;
}
.header,
.mid_header,
.testimonial,
.happy_customers,
.meet_the_team,
.infos,
.latest_work,
.as_seen_on,
.footer1 {
  width: 94.957264%;
  margin: 0 auto;
  overflow: hidden;
}
.header {
  margin-top: 2%;
}
.header_list {
  float: left;
}
.mid_header {
  margin-top: 15%;
  text-align: center;
}
.bottom_header {
  margin-bottom: 2%;
  margin-top: 100px;
  padding-bottom: 2%;
}
.column2 {
  background-color: white;
  width: 100%;
  margin-bottom: 5%;
}
.column3,
.column6 {
  background-color: #54d154;
  width: 100%;
}
.column5 {
  background-color: #f2f1f1;
  width: 100%;
}
.column7,
.column8 {
  width: 100%;
  background-color: #333333;
}

.work_with_us {
  width: 100%;
  background-color: #3eba3e;
  height: 92px;
  overflow: hidden;
}
.made_with {
  background-color: black;
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 11pt;
  padding: 20px;
}

@media (min-width: 1170px) {
  .main_wrapper {
    width: 100%;
    overflow: hidden;
  }
  .column1 {
    height: 41.1875em;
  }
  .bottom_header {
    margin-top: 200px;
  }
}
@media (min-width: 768px) {
  .main_wrapper {
    width: 100%;
    overflow: hidden;
  }
  .column1 {
  }
  .bottom_header {
    margin-top: 200px;
  }
}
