.header ul li {
  display: none;
  color: white;
  font-size: 16pt;
}
.menu img {
  float: left;
}
.menu {
  background-size: 50% 50%;
}
.header_list ul {
  position: absolute;
}
.menu:hover ~ .header_list ul li {
  display: block;
}
.switch {
  margin-left: 40%;
}
.switch a {
  font-family: NautilusPompilius;
  color: white;
  font-size: 24pt;
  margin: 0 auto;
}
.search {
  border-radius: 25px;
  float: right;
  width: 177px;
  background-color: #e8e7e7;
  margin-top: 5px;
  display: none;
}
.search a {
  margin-left: 16px;
}
input {
  background: transparent;
  border: 0px;
}
.workwithus {
  margin: 0 auto;
  margin-top: 3%;
  border-radius: 25px;
  background-color: #54d154;
  width: 21%;
  text-align: center;
  font-size: 8.9pt;
  padding: 2%;
}
.mid_header .workwithus a {
  font-size: 8pt;
}
.mid_header a {
  color: white;
  font-size: 25pt;
  font-family: Montserrat;
  font-weight: 800;
}

.scroll_down {
  margin: 0 auto;

  border-radius: 25px;
  background-color: #e8e7e7;
  width: 120px;
  text-align: center;
  font-size: 10pt;
}

.what_we_do {
  text-align: center;
  color: #828181;
  margin-top: 2%;
}
.border_line {
  margin: 0 auto;
  width: 43px;
  height: 2px;
  background-color: #a59d9d;
  margin-top: 2%;
}
.details {
  margin-top: 2%;
}
.whatwedo_info {
  text-align: center;
}

.whatwedo_info ul li {
  display: inline-block;
}
.learn_more_button {
  border-radius: 25px;
  background-color: #54d154;
  width: 120px;
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
}
.learn_more_button a {
  color: white;
}
.info_details p {
  display: inline-block;
}
.wwd_info1 {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
}
.camerabk {
  border-radius: 10%;
  background-color: #e1f3e1;
  width: 40%;
  margin: 0 auto;
}
.camerabk img {
  width: 60%;
  padding: 10%;
}
.info_title,
.info_details {
  color: #828181;
  margin-top: 7%;
  font-size: 8pt;
}
.info_title a {
  font-weight: 800;
  font-size: 10pt;
}

.latest_work,
.what_we_do a {
  color: #207b20;
}
.latest_work .border_line {
  background-color: #207b20;
}

.work_choose {
  margin-top: 5%;
  text-align: center;
}
.work_choose ul li {
  text-align: center;
  display: inline;
}
.work_choose ul li a {
  padding: 1%;
  color: #207b20;
}
.photography {
  border: 2px solid;
  border-color: #207b20;
  border-radius: 25px 0 0 25px;
  background-color: white;
}
.design {
  border: 2px solid;
  border-color: #207b20;
  background-color: white;
}
.print {
  border: 2px solid;
  border-color: #207b20;
  border-radius: 0 25px 25px 0;
  background-color: white;
}
.photos {
  margin-top: 5%;
  margin-left: 3.5%;
  margin-bottom: 5%;
}
.photos ul li {
  width: 80px;
  height: 80px;
  display: inline-block;
}
.photos ul li img {
  width: 100%;
  height: 100%;
}
.view_more_work {
  margin: 0 auto;
  margin-bottom: 5%;
  background-color: #2b9b2b;
  border-radius: 25px;
  color: #ffffff;
  width: 186px;
  text-align: center;
}
.testimonial_content {
  width: 90%;
  margin: 0 auto;
  font-size: 8pt;
  text-align: center;
  margin-top: 5%;
}
.testimonial_details {
  overflow: hidden;
  width: 50%;
  margin-left: 20%;
  float: left;
}

.left_arrow {
  float: left;
}
.right_arrow {
  float: right;
}

.herp {
  display: inline-block;
  font-size: 8pt;
  margin: 0 auto;
  margin-left: 35%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.company_logo {
  width: 90%;
  margin: 0 auto;
}
.company_logo ul li {
  display: block;
  margin-top: 5%;
  margin-left: 35%;
}
.see_all_client {
  background-color: #dddcdc;
  border-radius: 25px;
  color: #a59d9d;
  width: 186px;
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.team {
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}
.team ul li {
  display: inline-block;
  font-size: 8pt;
}

.tmember img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}
.vertical_border {
  margin: 0 auto;
  width: 2px;
  height: 77px;
  background-color: #207b20;
  display: none;
}

.profile_img1 {
  float: left;
}
.dbt {
  border-radius: 25px;
  background-color: #c5e9c5;
  width: 84px;
  display: inline-block;
  margin-top: 5%;
}
.dbt img {
  padding: 2%;
}
.work_with_us_button {
  background-color: #54d154;
  border-radius: 25px;
  width: 175px;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  color: white;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
}
.about_us {
  text-align: center;
  display: inline-block;

  font-size: 8pt;
}
.footer1 {
  color: white;
}
.about_us a {
  font-size: 16pt;
}
.recent_posts {
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
  width: 100%;
}
.about_us p {
  margin-top: 5%;
}
.images {
  width: 54px;
  height: 54px;
  float: left;
}
.images img {
  width: 100%;
  height: 100%;
}
.posts_footer {
  margin: 0 auto;
  display: inline-block;
  width: 95%;
  margin-top: 5%;
}

.posts_footer ul li {
  list-style-type: none;
  margin-top: 3.5%;
  display: inline-block;
  width: 90%;
}
.posts_details {
  overflow: hidden;
}
.images_title {
  margin-left: 5%;
}

.type1 {
  border-radius: 5px;
  background-color: #54d154;
  overflow: hidden;
  width: 30%;
}
.type2 {
  border-radius: 5px;
  background-color: #ffba00;
  overflow: hidden;
  width: 30%;
}
.type3 {
  border-radius: 5px;
  background-color: #089dea;
  width: 40%;
  margin-left: 5%;

  overflow: hidden;
}
.type4 {
  border-radius: 5px;
  background-color: #f34d04;
  width: 30%;

  overflow: hidden;
}
.type5 {
  border-radius: 5px;
  background-color: #ffba00;
  width: 30%;

  overflow: hidden;
}
.type1,
.type2,
.type3,
.type4,
.type5 {
  margin: 0px auto 0px 15%;
}
.contact_us {
  text-align: center;
  margin-top: 5%;
}
.contact_details {
  margin: 0 auto;
  margin-top: 5%;
  width: 50%;
}
.inputs {
  margin: 0 auto;
  width: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.name {
  width: 90%;
  background-color: #444444;
  height: 20px;
}
.email {
  width: 90%;
  background-color: #444444;
  height: 20px;
  margin-top: 2%;
}
.message {
  width: 90%;

  height: 100px;
  margin-top: 2%;
  background-color: #444444;
}
.send_button {
  border-radius: 5px;
  background-color: #2b9b2b;
  margin: 0 auto;
  width: 90%;
  margin-top: 2%;
}
.news_logo {
  margin-top: 5%;
  margin-bottom: 5%;
}
.news_logo img {
  margin: 0 auto;
  display: block;
  margin-top: 5%;
}
.info_title a {
  color: #828181;
}
.intro a {
  color: black;
}
.column6_name {
  text-align: center;
}
.scroll_down a {
  color: black;
}

@media (min-width: 1170px) {
  .header ul li {
    margin-right: 15px;
    display: inline-block;
    color: white;
    font-size: 11pt;
  }

  .menu {
    display: none;
  }
  .search {
    display: block;
  }

  .search input {
    padding: 8px;
  }

  .switch {
    float: left;
    margin-left: 45%;
  }
  .camerabk {
    width: 144px;
    height: 144px;
  }
  .camerabk img {
    margin-top: 13%;
  }
  .mid_header a {
    font-size: 55px;
  }
  .info_title a {
    font-size: 16pt;
  }
  .info_details p {
    font-size: 11pt;
  }
  .mid_header .workwithus a {
    font-size: 21.89pt;
  }
  .wwd_info1 {
    width: 25%;
    float: left;
    margin-right: 5%;
  }
  .whatwedo_info {
    overflow: hidden;
    margin-left: 18%;
    margin-right: 5%;
  }

  .whatwedo_info ul li {
    display: inline;
  }

  .bottom_header {
    margin-bottom: 2%;
    margin-top: 17%;
    padding-bottom: 2%;
  }

  .workwithus a {
    font-weight: 400;
  }
  .workwithus {
    padding: 1%;
  }
  .photos ul li {
    width: 160px;
    height: 160px;
    margin-right: 5%;
    margin-top: 5%;
  }
  .testimonial_details {
    font-size: 11pt;
  }
  .herp {
    margin-left: 40%;
  }
  .company_logo {
    text-align: center;
  }
  .company_logo ul li {
    display: inline-block;
    margin: 0 auto;
    margin-right: 5%;
    margin-top: 5%;
    margin-left: 5%;
  }
  .tmember img {
    width: 125px;
    height: 125px;
  }
  .vertical_border {
    display: block;
  }
  .team ul li {
    margin-left: 5%;
  }
  .dbt {
    margin-left: 20%;
  }
  .column6_name {
    font-size: 12pt;
    margin-top: 5%;
  }
  .about_us,
  .recent_posts,
  .contact_us {
    width: 33.33%;
    float: left;
    margin: 0 auto;
    margin-top: 5%;
  }
  .contact_details {
    width: 90%;
  }
  .posts_details {
    font-size: 11pt;
  }
  .type1,
  .type2,
  .type3,
  .type4,
  .type5 {
    margin: 0 auto;
    width: auto;
    float: left;
    margin-left: 15%;
  }
  .news_logo {
    text-align: center;
  }
  .news_logo ul li {
    display: inline-block;
    margin: 0 auto;
    margin-right: 5%;
  }
}

.column1 {
  height: 90vh;
}
